<template>
  <div>
    <search :buttonText="'NUEVO CONCEPTO'"></search>
    <v-card>

      <TablaDatos :headers="tableHeadersPokemons" :itemsTable="itemsTableData" :editItem="editItem"
        :deleteItem="deleteItem" />
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import TablaDatos from '../components/DataTable.vue';
import Search from '../components/Search.vue';
import Footer from '../components/Footer.vue';
// import { getPokemons } from '../data/api';
import { useListPotsStore } from '../data/stores/posts/list-store';
import type { PostDomain } from '../data/modules/posts/domain/post-domain';

// const pokemons = getPokemons()

export default defineComponent({
  components: { TablaDatos, Search, Footer },
  data() {
    return {
      tableHeaders: [
        { title: 'CODIFICADO', key: 'name' },
        { title: 'RUBRO', key: 'calories' },
        { title: 'DESCRIPCION', key: 'fat' },
        { title: 'UNIDAD', key: 'carbs' },
        { title: 'AÑO', key: 'protein' },
        { title: 'ACCIONES', key: 'actions', sortable: false }
      ],
      tableHeadersPokemons: [
        { title: 'NOMBRE', key: 'name' },
        { title: 'LINK', key: 'url' },
        { title: 'ACCIONES', key: 'actions', sortable: false }
      ],
    };
  },
  methods: {
    editItem(item: any) { },
    deleteItem(item: any) { },
  },
  setup() {
    const store_list_posts = useListPotsStore();
    const itemsTableData = ref<PostDomain[]>([]);

    onMounted(async () => {
      await store_list_posts.getPosts();
      itemsTableData.value = store_list_posts.get_list_posts;
    })

    return { itemsTableData }

  }
});
</script>
<style scoped>
.v-table>.v-table__wrapper>table>tbody>tr>th,
.v-table>.v-table__wrapper>table>thead>tr>th,
.v-table>.v-table__wrapper>table>tfoot>tr>th {
  height: var(--v-table-header-height);
  font-weight: 500;
  user-select: none;
  text-align: start;
  font-size: x-small !important;
}
</style>