<template>
    <v-card>
        <div>
            <h5 class="divider">EDITAR REQUISICION </h5>
            <formDATA></formDATA>
            <selectedata></selectedata>
            <TablaDatos :tableData="tableData" icons="icons_acciones" />
            <div class="text-right v-container">
                <CustomButton text="CANCELAR" class="button" @action="doSomething" />
                <CustomButton text="GUARDAR" class="buttonKeep" to="/requisiciones" />
            </div>
            <br>
        </div>
    </v-card>
</template>


<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import TablaDatos from '../components/TableRequisitions.vue';
import formDATA from '../components/Form_Requisitions.vue'
import selectedata from '../components/Select-chip.vue'
import CustomButton from '../components/ButtonsForm.vue';

export default defineComponent({
    components: { TablaDatos, formDATA, selectedata, CustomButton },
    setup() {
        const tableData = ref([
            {
                "codificado": "Manzana",
                "rubror": "Fruta",
                "descripcion": 1.5,
                "unidad": 50,
                "anio": "España",
            },
            {
                "codificado": "Plátano",
                "rubror": "Fruta",
                "descripcion": 1.0,
                "unidad": 40,
                "anio": "Canarias"
            },
            {
                "codificado": "Naranja",
                "rubror": "Fruta",
                "descripcion": 0.8,
                "unidad": 60,
                "anio": "Valencia"
            },
            {
                "codificado": "Pera",
                "rubror": "Fruta",
                "descripcion": 1.2,
                "unidad": 30,
                "anio": "Francia"
            },
            {
                "codificado": "Platano",
                "rubror": "Fruta",
                "descripcion": 1.1,
                "unidad": 45,
                "anio": "Canarias"
            }
        ]);


        const doSomething = () => {
            console.log('Botón de acción dinámica clicado');
        };

        return { tableData, selectedata, formDATA, doSomething, CustomButton };
    }
});

</script>
<style>
.buttonKeep {
    background: yellow !important;
    color: black !important;
}
</style>