<!-- <template>
    <div class="content-main">
        <div class="content-seccion">
            <NewConcept />

        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import NewConcept from '../components/NewConcept.vue';


</script> -->
