<template>
    <div>
        <search :buttonText="'NUEVA REQUISICIÓN'"></search>
        <v-card>
            <TablaDatos :headers="tableHeaders" :desserts="tableDesserts" :mdiPencil="mdiPencil"
                :mdiListStatus="mdiListStatus" :mdiFileChartOutline="mdiFileChartOutline" :mdiPrinter="mdiPrinter"
                :mdiContentCopy="mdiContentCopy" :editItem="editItem" />
        </v-card>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import TablaDatos from '../components/DataTable.vue';
import Search from '../components/Search.vue';
import Footer from '../components/Footer.vue';

export default defineComponent({
    components: { TablaDatos, Search, Footer },
    data() {
        return {
            tableHeaders: [
                { title: 'CODIFICADO', key: 'name' },
                { title: 'RUBRO', key: 'calories' },
                { title: 'DESCRIPCION', key: 'fat' },
                { title: 'UNIDAD', key: 'carbs' },
                { title: 'AÑO', key: 'protein' },
                { title: 'STATUS', key: 'status' },
                { title: 'ACCIONES', key: 'actions', sortable: false }
            ],
            tableDesserts: [
                {
                    name: 'Frozen Yogurt',
                    fat: '6.0',
                    carbs: '24',
                    protein: '4.0',
                    calories: '159',
                },

            ],
        };
    },
});
</script>
