<template>
    <v-card>

        <div>
            <!-- Título -->
            <div class="d-flex justify-space-between align-center divider btn-padding">
                <!-- Título -->
                <h5 class="text-left">REVISAR REQUISICION</h5>

                <!-- Botones -->
                <div class="text-right ">
                    <CustomButton text="CANCELAR" class="button" @action="doSomething" />
                    <CustomButton text="RECHAZAR" class="buttonerror" @action="doSomething" />
                    <CustomButton text="ACEPTAR" class="buttonAccept" @action="doSomething" />
                </div>

            </div>

            <br>

            <formDATA></formDATA>
            <selectedata></selectedata>
            <TablaDatos :tableData="tableData" icons="icons_acciones" />

            <br>
        </div>
    </v-card>

</template>


<script lang="ts">
import { defineComponent, ref } from 'vue';
import TablaDatos from '../components/TableRequisitions.vue';
import formDATA from '../components/Form_Requisitions.vue'
import selectedata from '../components/Select-chip.vue'
import CustomButton from '../components/ButtonsForm.vue';

export default defineComponent({
    components: { TablaDatos, formDATA, selectedata, CustomButton },
    setup() {
        const tableData = ref([
            {
                "codificado": "Manzana",
                "rubror": "Fruta",
                "descripcion": 1.5,
                "unidad": 50,
                "anio": "España",
            },
            {
                "codificado": "Plátano",
                "rubror": "Fruta",
                "descripcion": 1.0,
                "unidad": 40,
                "anio": "Canarias"
            },
            {
                "codificado": "Naranja",
                "rubror": "Fruta",
                "descripcion": 0.8,
                "unidad": 60,
                "anio": "Valencia"
            },
            {
                "codificado": "Pera",
                "rubror": "Fruta",
                "descripcion": 1.2,
                "unidad": 30,
                "anio": "Francia"
            },
            {
                "codificado": "Platano",
                "rubror": "Fruta",
                "descripcion": 1.1,
                "unidad": 45,
                "anio": "Canarias"
            }
        ]);

        const doSomething = () => {
            console.log('Botón de acción dinámica clicado');
        };

        return { tableData, selectedata, formDATA, doSomething };
    }
});

</script>
<style>
.btn-padding {
    padding: 5px 20px;
}

.buttonAccept {
    background: rgb(0, 224, 7) !important;
    color: white !important;
}

.buttonerror {
    background: rgb(255, 0, 0) !important;
    color: white !important;
}
</style>