<template>
    <v-btn :size="size" @click="handleClick">{{ text }}</v-btn>
</template>

<script lang="ts">
import { defineComponent, type PropType } from 'vue';

export default defineComponent({
    props: {
        text: {
            type: String,
            required: true,
        },
        action: {
            type: Function as PropType<() => void>,
            required: true,
        },

        size: {
            type: String,
            default: 'small',
        },
    },
    methods: {
        handleClick() {
            this.action();
        },
    },
});
</script>