<template>
    <v-data-table :headers="headers" :items="itemsTable" :sort-by="[{ key: 'calories', order: 'asc' }]"
        :hide-headers-on-mobile class="data-table">
        <template v-slot:item="{ item }">
            <tr class="text-center">
                <th>{{ item.name }}</th>
                <th>{{ item.url }}</th>
                <!-- <th>{{ item.fat }}</th>
                <th>{{ item.carbs }}</th>
                <th>{{ item.protein }}</th> -->
                <th v-if="currentRoute.path !== '/'">
                    <v-badge :color="getColors(item.status)" :content="item.status"></v-badge>
                </th>
                <th>
                    <v-icon v-show="showActionIcons(item, 'delete')" size="medium" :icon="mdiIcons.mdiDeleteOutline"
                        color="black" @click="deleteItem(item)"></v-icon>
                    <v-icon v-show="showActionIcons(item, 'status')" size="medium" :icon="mdiIcons.mdiListStatus"
                        color="black"></v-icon>
                    <v-icon v-show="showActionIcons(item, 'edit')" class="me-2" size="medium" :icon="mdiIcons.mdiPencil"
                        color="black" @click="editItem(item)"></v-icon>
                    <v-icon v-show="showActionIcons(item, 'copy')" size="medium" color="black"
                        :icon="mdiIcons.mdiContentCopy"></v-icon>
                    <v-icon v-show="showActionIcons(item, 'print')" class="me-2" size="medium"
                        :icon="mdiIcons.mdiPrinter" color="black"></v-icon>
                    <v-icon v-show="showActionIcons(item, 'view')" size="medium" color="black"
                        :icon="mdiIcons.mdiFileChartOutline" @click="$router.push('/RevisarRequisiscion')"></v-icon>
                </th>
            </tr>
        </template>
        <template v-slot:footer>
            <tr>
                <td colspan="6">
                    <span>Mostrar</span>
                    <v-select v-model="itemsPerPage" :items="itemsPerPageOptions"></v-select>
                    <span>elementos por página</span>
                </td>
            </tr>
        </template>
    </v-data-table>

</template>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue';
import useDataTable from '../typeScript/datatable';

export default defineComponent({
    props: {
        itemsTable: {
            type: Array,
            require: false
        }
    },
    setup(props) {
        const {
            itemsPerPage,
            itemsPerPageOptions,
            dialog,
            dialogDelete,
            editedIndex,
            editedItem,
            mdiIcons,
            currentRoute,
            desserts,
            getColors,
            showActionIcons,
            close,
            closeDelete,
            save,
            editItem,
            deleteItem,
            deleteItemConfirm
        } = useDataTable();

        const headers: any[] = [];

        const formTitle = computed(() => editedIndex.value === -1 ? 'New Item' : 'EDITAR ELEMENTO');

        return {
            itemsPerPage,
            itemsPerPageOptions,
            dialog,
            dialogDelete,
            headers,
            editedItem,
            mdiIcons,
            currentRoute,
            desserts,
            getColors,
            showActionIcons,
            formTitle,
            close,
            closeDelete,
            save,
            editItem,
            deleteItem,
            deleteItemConfirm
        };
    }
});
</script>

<style scoped>
.custom-cell {
    white-space: nowrap;
    font-size: 15px !important;
}

.red-bold-16 {
    color: red;
    font-weight: bold;
    font-size: 16px;
}
</style>