<template>
    <v-container class="form-container">
        <v-card-title class="text-black">
            <h2 v-if="!isReviewRequisitionsView" class="text-htitles" style="width: -webkit-fill-available;">MODIFICAR

                REQUISICIÓN</h2>
            <template v-if="isReviewRequisitionsView">
                <h2 class="text-htitles" style="width: -webkit-fill-available;">REVISAR REQUISICIÓN</h2>
                <div class="button-container">
                    <DynamicButton text="REGRESAR" size="small" @click="methods.goBack" />
                    <DynamicButton color="red" text="RECHAZAR" size="small" style="margin-left: 10px"
                        @click="methods.confirmReject" />
                    <DynamicButton color="green" text="APROBAR" size="small" style="margin-left: 10px"
                        @click="methods.confirmApprove" />
                </div>
            </template>
        </v-card-title>
        <div class="dividerAddConcept"></div>
        <div class="flex-container">
            <h2 class="text-htitles">DATOS GENERALES</h2>
        </div>


        <v-row>

            <v-col cols="12" sm="6">

                <v-text-field label="FECHA" variant="solo"></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" class="textarea">
                <v-text-field label="ORDEN TRABAJO/PROYECTO" variant="solo"></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" class="textarea">
                <v-text-field label="SOLICITANTE" model-value="" variant="solo"></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" class="textarea">
                <v-text-field label="EMPRESA" variant="solo" persistent-hint></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" class="textarea">
                <v-text-field label="OBSERVACIONES" variant="solo" persistent-hint></v-text-field>
            </v-col>
        </v-row>
        <v-dialog v-model="data.dialogVisible" max-width="500">
            <v-card class="decoratorDialog">
                <v-card-title>Confirmación</v-card-title>
                <v-card-text>
                    {{ data.dialogMessage }}
                </v-card-text>
                <v-card-actions>
                    <v-btn color="black" @click="data.dialogVisible = false">NO, CANCELAR</v-btn>
                    <v-btn color="green">SI, APROBAR</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, ref } from 'vue';
import { useRoute } from 'vue-router';
import DynamicButton from '../components/buttons.vue';
import router from '../router';

interface DialogData {
    dialogVisible: boolean;
    dialogMessage: string;
}

export default defineComponent({
    components: {
        DynamicButton,
    },
    setup() {
        const data = reactive<DialogData>({
            dialogVisible: false,
            dialogMessage: "",
        });

        const currentRoute = useRoute();
        const isReviewRequisitionsView = computed(() => {
            return currentRoute.path === '/ReviewRequisitions';
        });

        const methods = {
            goBack() {

            },
            confirmReject() {
                data.dialogMessage = "ESTÁS SEGURO QUE DESEAS RECHAZAR LA REQUISICIÓN REQ000102 DEL USUARIO YUZ VENTURA?";
                data.dialogVisible = true;
            },
            confirmApprove() {
                data.dialogMessage = "ESTÁS SEGURO QUE DESEAS APROBAR LA REQUISICIÓN REQ000102 DEL USUARIO YUZ VENTURA?";
                data.dialogVisible = true;
                router.push('/Requisitions');
            },
        };

        return { data, methods, isReviewRequisitionsView };
    },
});
</script>
<style>
.v-card-title {
    display: flex;

    justify-content: flex-end;

}

.v-card-title {
    color: black;
}

.v-card-text {
    color: black;
}

.v-card-actions {
    display: flex;
    justify-content: flex-end;
}

.decoratorDialog {
    border-bottom: 10px solid green;
}

.button-container {
    margin-left: 142px;

}

.flex-container {
    display: flex;
}
</style>