<template>
    <div class="left-section">
        <img class="right-logo " src="../assets/img/logo-grupo-merca-2017-white.png">
        <span text-black> | Copyright &copy; 2024 Todos los derechos reservados, Chronos y todas sus marcas son
            parte
            de Grupo
            Merca.
        </span>
    </div>
</template>