<template>
    <v-form>
        <v-container>

            <v-row>
                <v-col cols="12" sm="6">
                    <v-text-field label="FECHA" model-value="John Doe" variant="underlined"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                    <v-text-field label="ORDEN DEL PROYECTO/TRABAJO" model-value="John Doe" variant="underlined"
                        readonly></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                    <v-text-field label="SOLICITANTE" model-value="John Doe" variant="underlined"
                        readonly></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                    <v-text-field label="EMPRESA" model-value="John Doe" variant="underlined" readonly></v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                    <v-text-field label="OBSERVACIONES" model-value="John Doe" variant="underlined"
                        readonly></v-text-field>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</template>
<style>
.v-container {
    max-width: 95% !important;
    padding: 0px 0 16px;
}
</style>
