<template>
    <v-app-bar height="50" color="transparent" static>
        <v-btn :ripple="false" @click="toggleDrawer">
            <v-icon :icon="icons.mdiMenu"></v-icon>
        </v-btn>
        <div class="left-section">
            <div>
                <h5 class="font-size-xs">{{ pageTitle }}</h5>
                <div>
                    <span class="title-section">{{ currentTime }}</span>
                    <span class="title-section">{{ currentDate }}</span>
                </div>
            </div>
        </div>
        <div class="right-section">
            <v-icon class="me-2" size="medium" color="black">{{ icons.mdiAccountCircleOutline }}</v-icon>
            <h5 class="font-size">{{ userName }}</h5>

            <v-icon class="me-2" size="medium" color="black">{{ icons.mdiBellBadgeOutline }}</v-icon>
        </div>
    </v-app-bar>

    <v-navigation-drawer v-model="drawerOpen" absolute top right clipped style="height: 100vh;">
        <navigationMobile v-if="drawerOpen" />
    </v-navigation-drawer>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { mdiAccountCircleOutline, mdiBellBadgeOutline, mdiMenu } from '@mdi/js';
import navigationMobile from '../components/NavigationMobile.vue';

export default defineComponent({
    name: 'AppBar',
    components: { navigationMobile },
    setup() {
        const pageTitle = ref('PRUEBA VUE');
        const userName = ref('ESTEFANIA RANGEL');
        const icons = ref({
            mdiAccountCircleOutline,
            mdiBellBadgeOutline,
            mdiMenu,
        });
        const drawerOpen = ref(false);

        const currentTime = computed(() => {
            const now = new Date();
            return `${now.getHours()}:${now.getMinutes()}`;
        });

        const currentDate = computed(() => {
            const now = new Date();
            return `${now.getDate()}/${now.getMonth() + 1}/${now.getFullYear()}`;
        });

        const toggleDrawer = () => {
            drawerOpen.value = !drawerOpen.value;
        };

        return {
            pageTitle,
            userName,
            icons,
            drawerOpen,
            currentTime,
            currentDate,
            toggleDrawer,
        };
    },
});
</script>
<style scoped>
.font-size-xs {
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
}

@media (max-width: 650px) {
    .v-app-bar {
        display: flex;
        justify-content: space-between;
        margin: -14px 9px !important;
        width: 100%;
        position: static !important;
        top: 0px;
        z-index: 0;
        transform: translateY(0%);
        left: inherit !important;
        width: calc(91% + 0px) !important;
    }

    .font-size {
        font-size: 0.8rem;
        color: rgb(166 166 166) !important;
    }

    .font-size-xs {
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
    }

    .left-section,
    .right-section {
        flex: 1;
    }

    .v-app-bar {
        display: flex;
    }
}
</style>