<template>
    <v-responsive class="mx-auto " style="padding: 0 80px;">
        <h1 class="text-htitles">CATALAGOS</h1>
        <v-select label="" color="black" variant="solo">

        </v-select>
    </v-responsive>
</template>

<script setup lang="ts">
import { ref } from 'vue';

interface Option {
    text: string;
    value: string;
}




</script>

<style scoped>
.v-select .v-select__selections {
    color: black !important;
}

.v-select .v-list-item {
    color: black !important;
}
</style>