<template>
    <div>
        <v-label>{{ campo.label }}</v-label>
        <v-text-field v-if="campo.tipo === 'text'" />
        <v-select v-if="campo.tipo === 'select'" />
    </div>
</template>

<script>
export default {
    props: {
        campo: {
            type: Object,
            required: true,
        },
    },
};
</script>