<template>
  <v-card>
    <v-layout>
      <v-navigation-drawer v-model="drawer" theme="dark" :rail="rail" permanent class="custom-background ">
        <v-list-item prepend nav>
          <img src="../assets/img/logo-grupo-merca-2017-white.png" width="180" />
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense nav class="navidation-drawer">
          <v-list-item-group>
            <v-list-item value="OBRAS">
              OBRAS
            </v-list-item>
            <v-list-item>
              COMPRAS
              <v-icon color="white" :icon="icons.mdiChevronDown"></v-icon>
              <template>
              </template>
              <v-list-item v-for="(item, index) in homeItems" :key="index" :class="{ 'active-item': item.active }">
                <v-list-item-title>
                  <v-icon size="large" color="white"></v-icon>
                  <router-link :to="item.path" @click="setActiveItem(item)">
                    <span style="color: white; text-decoration: none;">{{ item.title }}</span>
                  </router-link>
                </v-list-item-title>
              </v-list-item>
            </v-list-item>
          </v-list-item-group>
          <v-list-item value="CUENTAS">
            CUENTAS
          </v-list-item>
          <v-list-item value="PROVEEDORES">
            PROVEEDORES
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main style="height: 109vh"></v-main>
    </v-layout>
  </v-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { icons, homeItems } from '../typeScript/navegationdeskop';
import type { ListItem } from '../typeScript/navegationdeskop';

export default defineComponent({
  data() {
    return {
      drawer: true,
      rail: false,
      icons: icons as unknown as ListItem[],
      homeItems: homeItems as unknown as ListItem[],
    };
  },
  methods: {
    setActiveItem(item: ListItem) {
      this.homeItems.forEach((i: ListItem) => {
        i.active = (i === item);
      });
    }
  }
});
</script>

<style>
.custom-background {
  background-image: url('../assets/img/sidebar.png') !important;
  background-size: cover !important;
  padding: 20px 0;
  height: 100vh;
}

.active-item {
  border-left: 3px solid yellow;
  border: 1px solid yellow;
}

.active-item .v-list-item__content {
  border-left: 9px solid yellow;
  border-block: 1px solid yellow;
}
</style>
