<template>
    <div class="form-container">
        <v-form @submit.prevent="handleSubmit">
            <v-card>
                <h2 class="form-titleAddConcept">NUEVO CONCEPTO</h2>
                <div class="dividerAddConcept"></div>
                <v-card-text>
                    <v-row>
                        <v-col class="formConcept" cols="12">
                            <v-select v-model="formData.option" label="RUBRO *" :items="options" />
                        </v-col>
                        <v-col class="formConcept" cols="12">
                            <v-text-field v-model="formData.name" label="DESCRIPCION *" required />
                        </v-col>
                        <v-col class="formConcept" cols="12">
                            <v-text-field v-model="formData.ano" label="AÑO *" required /> </v-col>
                        <v-col class="formConcept" cols="12">
                            <v-select v-model="formData.unidad" label="UNIDAD *" :items="options" /> </v-col>
                    </v-row>
                </v-card-text>
                <div class="buttons boton1">
                    <v-btn class=".cancel-button boton1" @click="handleCancel">CANCELAR</v-btn>
                    <v-btn class="save-button boton1" type="submit">GUARDAR</v-btn>
                </div>
            </v-card>
        </v-form>
    </div>
</template>

<script setup lang="ts">
import { useForm } from 'vee-validate';
import { ref } from 'vue';

const { handleSubmit, errors } = useForm();

const formData = ref({
    name: '',
    option: null,
    ano: '',
    unidad: null,
});

const options = [
    { text: 'Opción 1', value: 1 },
    { text: 'Opción 2', value: 2 },
    { text: 'Opción 3', value: 3 },
];

const submitForm = handleSubmit((values) => {
    console.log(values);
});
const handleCancel = () => {

};

</script>

<style scoped>
.boton1 {
    left: 50%;
    padding: 10px 0;
}

.v-card--variant-elevated,
.v-card--variant-flat {
    background: transparent !important;

    color: rgb(0, 0, 0);
    padding: 5% 20%;
    margin: 10% 0%;
    font-size: 12px;
    width: 95%;
}

.v-input--density-default {
    --v-input-control-height: none;
    --v-input-padding-top: none;
}

.v-input--density-default .v-field--variant-solo,
.v-input--density-default .v-field--variant-solo-inverted,
.v-input--density-default .v-field--variant-solo-filled,
.v-input--density-default .v-field--variant-filled {
    --v-input-control-height: 56px;
    --v-field-padding-bottom: 17px;
}

@media (max-width: 650px) {
    .boton1 {
        left: 35%;
        padding: 10px 0;
    }

    .v-card--variant-elevated,
    .v-card--variant-flat {
        background: transparent !important;

        color: rgb(0, 0, 0);
        padding: 5% 10%;
        margin: 10% 0%;
        font-size: 12px;
        width: 100%;
    }
}
</style>