<template>
    <div class="search-bar search-input">
        <v-card-text>
            <div>
                <input type="text" placeholder="Buscar..." variant="solo" hide-details single-line
                    @click:append-inner="onClick" />
                <v-icon size="20" class="search-icon" :style="{ color: 'black' }">{{ mdiMagnify }}</v-icon>
            </div>
        </v-card-text>

        <div>
            <v-btn :color="button.color">
                <template #prepend>
                    <v-icon class="black-icon" size="15">{{ mdiPlusThick }}</v-icon>
                </template>
                {{ buttonText }}
            </v-btn>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { mdiMagnify, mdiPlusThick } from '@mdi/js';

export default defineComponent({
    name: 'SearchBar',
    props: {
        buttonText: {
            type: String,
            required: true,
        },
        button: {
            type: Object as () => { color: string },
            default: () => ({ color: 'yellow' }),
        },
    },
    setup(props) {
        const mdiMagnifyRef = ref(mdiMagnify);
        const mdiPlusThickRef = ref(mdiPlusThick);

        const onClick = () => {

        };

        return {
            mdiMagnify: mdiMagnifyRef,
            mdiPlusThick: mdiPlusThickRef,
            onClick,
        };
    },
});
</script>

<style scoped>
.search-bar {
    display: flex;
    align-items: center;
}

.search-input input {
    width: 40%;
}

.v-btn--size-default {
    --v-btn-size: 0.875rem;
    --v-btn-height: 36px;
    font-size: var(--v-btn-size);
    min-width: 64px;
    padding: 0 16px;
}

.black-icon {
    color: black !important;
}

@media (max-width: 600px) {
    .v-btn--size-default {
        --v-btn-size: 0.8rem;
        --v-btn-height: 36px;
        font-size: var(--v-btn-size);
        min-width: 64px;
        padding: 0 6px;
    }

    .search-input input {
        width: 83% !important;
    }
}
</style>