<template>
    <v-select class="v-container" height="20" v-model="value" :items="items" label="Selecciona una opción" chip
        multiple></v-select>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
    setup() {
        const items = ref<string[]>(['foo', 'bar', 'fizz', 'buzz']);
        const value = ref<string[]>(['foo', 'bar', 'fizz', 'buzz']);

        return {
            items,
            value
        };
    }
});
</script>

<style>
.v-container {
    max-width: 95% !important;
    padding: 0px !important;
}

.v-input--density-default .v-field--variant-filled {
    --v-input-control-height: 37px !important;
    --v-field-padding-bottom: -6px !important;
}
</style>