<template>
    <v-card class="v-container">
        <v-data-table :items="tableData" :headers="headers">
            <template v-if="icons === 'icons_acciones'" v-slot:item.actions="{ item }">
                <v-icon size="small" color="red" @click="deleteItem(item)">
                    {{ mdiAlphaXBox }}
                </v-icon>
            </template>
        </v-data-table>
    </v-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import DataTable from '../typeScript/tableRequisition';
import { mdiAlphaXBox } from '@mdi/js';

export default defineComponent({
    components: {
        DataTable,
    },
    props: {
        tableData: {
            type: Array as () => Array<any>,
            required: true,
        },
        icons: {
            type: String as () => String,
            required: false,
        },
    },
    setup(props) {
        const editItem = (item: any) => {
            console.log('Editing item:', item);
        };

        const deleteItem = (item: any) => {
            console.log('Deleting item:', item);
        };


        return {
            editItem,
            deleteItem,
            mdiAlphaXBox,
        };
    },
});
</script>


<style scoped>
.v-card {
    margin: 3px;
}

@media (max-width: 900px) {

    .v-data-table td,
    .v-data-table th {
        font-size: 0.8rem;
        padding: 8px 4px;
    }


    .v-data-table-footer {
        display: none;
        align-items: center;
        flex-wrap: wrap;
        padding: 4px;
        justify-content: flex-end;
    }

    .v-container {
        max-width: 95% !important;
        padding: 0px 0 16px;
    }


    .v-card {
        margin: 3% 0% !important;
    }

}



@media (max-width: 650px) {
    .v-card {
        margin: 17% 0%;
    }

    .v-table>.v-table__wrapper>table>tbody>tr>td {
        padding: 0 13px !important;
    }


}
</style>