/* Restablecimiento de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:400 ;
}

p {
  margin-bottom: .7em;
}

/* Colores */
:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: red;
}

/* Estilos para elementos específicos */
button {
  padding: 0.5em 1em;
 
  background-color: #fff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: #0099ff;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1rem;
}

/* Estilos para layouts */




.margin-table{
  margin: 10px 0px;
}



.left-section{
  display: flex;
  align-items: center;
  padding: 0 5% !important;
font-size: x-small;
  flex: 1;
}
.divider{
  border-bottom: 5px double black;
  padding: 1% 0% 0% 2%;
  margin-bottom: 25px;
}

.right-section {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
  
.right-logo {
  max-width: 20% !important;
  filter: invert(1);
  padding: 10px;
}
.search-icon {
  position: absolute;
  top: 78%;
  left: -31px;
  transform: translateY(-14%);
}
.title-section {
  font-size: .7rem;
  font-weight: 100;

}

.v-data-table-header__content {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: 700;
}
.right-section {
  align-self: center;

}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1%;
  margin-top: 0%;
}
.v-table {
  border-radius: inherit;
  line-height: 2.9 !important;
  max-width: 97%;
  font-size: 10px !important;
  display: flex;
  flex-direction: column;
}

.search-input {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 37px;

}

  @media (max-width: 600px) {
    .container {
      padding: 0 1em; 
      display: grid;
      grid-template-columns: 1fr; 
      grid-gap: 1em; 
        width: calc(96% + 0px) ;
        height: 92vh;
        padding: 10% 1% !important;
    }
    .text-left, .text-right {
      text-align: center; 
      font-size: 0.6rem;
      color: black;
    }

    .left-section, .right-section {
      padding: 0 0;
      margin-bottom: 1em; 
      width: 100%;
      font-size: xx-small;
    }
    .right-section {
      display: flex;
      align-items: center;
      max-width: 40% !important;
      filter: invert(1);
    }
    .right-logo {
      max-width: 20% !important;
      filter: invert(1);
    }

    .divider {
      margin-bottom: 1em; 
    }

  

    .search-bar {
      display: grid;
      grid-template-columns: 1fr; 
      grid-gap: 1em; 
      margin-top: 1% !important;
    }
    .data-table {
      overflow-x: auto;  
    }
    .search-input input {
      width: 83% !important;
    
  }
  .search-icon {
    position: absolute;
    top: 78%;
    left: -27px !important;
    transform: translateY(-13%) !important;
  }

  .margin-table{
    margin: -675px 0px;
  }
  .v-badge__badge {
    align-items: center;
    display: inline-flex;
    border-radius: 10px;
    font-size: 0.5rem !important;

  }
}