.v-navigation-drawer__content {
    flex: 0 1 auto;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: clip !important;
  }
  .v-table > .v-table__wrapper > table > tbody > tr > th, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > th {
  
    font-weight: 500;
    user-select: none;
    text-align: start;
    font-size: medium;
    border-bottom: 1px solid black !important;
  }
  .v-app-bar {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 0;
    transform: translateY(0%);
    left: inherit !important;
    width: calc(72% + 0px) !important;
  }
  .v-list-item--nav .v-list-item-title {
    font-size: 0.7rem !important;
    font-weight: normal !important;
    letter-spacing: normal;
    line-height: 1rem;
  }
  a {
    text-decoration: none;
    color: transparent !important;
    transition: 0.3s;
  }
  .v-list-item__content {
    align-self: center;
    grid-area: content;
    overflow: hidden;
    font-size: small !important;
  }
  .v-field__input {
    align-items: center;
    color: inherit;
    column-gap: 2px;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.009375em;
    opacity: var(--v-high-emphasis-opacity);
    min-height: max(var(--v-input-control-height, 56px), 1.5rem + var(--v-field-input-padding-top) + var(--v-field-input-padding-bottom));
    min-width: 0;
    padding-inline: var(--v-field-padding-start) var(--v-field-padding-end);
    padding-top: var(--v-field-input-padding-top);
    padding-bottom: var(--v-field-input-padding-bottom);
    position: relative;
    width: 100%;
    font-size: smaller;
  }
  .v-data-table-footer {
    display: none !important;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: flex-end;
}
.v-field {
  --v-field-padding-top: 13px !important;

  
}
.v-input--density-default {
  --v-input-control-height: 56px;
  --v-input-padding-top: 7px !important;
}

.v-input--density-default .v-field--variant-plain, .v-input--density-default .v-field--variant-underlined {
  --v-input-control-height: 33px !important;
  --v-field-padding-top: 1px !important;
  --v-field-padding-bottom: 6px !important;
}
 .v-col-sm-12, .v-col-sm-11, .v-col-sm-10, .v-col-sm-9, .v-col-sm-8, .v-col-sm-7, .v-col-sm-6, .v-col-sm-5, .v-col-sm-4, .v-col-sm-3, .v-col-sm-2, .v-col-sm-1, .v-col, .v-col-auto, .v-col-12, .v-col-11, .v-col-10, .v-col-9, .v-col-8, .v-col-7, .v-col-6, .v-col-5, .v-col-4, .v-col-3, .v-col-2, .v-col-1 {
  width: 100%;
  padding: 4px 12px !important;
}
.v-app-bar.v-toolbar:not(.v-toolbar--flat) {
  box-shadow: 0px 2px 0px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 0px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12)) !important;
}
.v-input__details {
  align-items: flex-end;
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
  grid-area: messages;
  letter-spacing: 0.0333333333em;
  line-height: normal;
  min-height: 10px !important;
  padding-top: 3px !important;
  overflow: hidden;
  justify-content: space-between;
}
.v-input--density-default .v-field--variant-plain, .v-input--density-default .v-field--variant-underlined {
    --v-input-control-height: 23px !important;
    --v-field-padding-top: 0px !important;
    --v-field-padding-bottom: 0px !important;
  }
  .v-table > .v-table__wrapper > table > tbody > tr > th, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > th {
    font-weight: 500;
    user-select: none;
    text-align: start;
    font-size: small;
    border-bottom: 1px solid #cacaca !important;
  }
  .v-table--density-default {
    --v-table-header-height: -6px !important;
    --v-table-row-height: 35px !important;
  }
  
  .search-input input {
    width: 83%;
    padding: 5px 0;
    border: 1px solid grey !important;
    border-radius: 4px;
  
  }
  
  
  .search-input v-icon {
    margin-right: 5px;
    color: black;
  
  }
  
  .v-btn {
    margin-left: 20px;
  
    min-width: 200px;
  
  }
  
  
  
@media (max-width: 600px) {


    .v-table > .v-table__wrapper > table > tbody > tr > td, .v-table > .v-table__wrapper > table > tbody > tr > th, .v-table > .v-table__wrapper > table > thead > tr > td, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > td, .v-table > .v-table__wrapper > table > tfoot > tr > th {
      padding: 0 0px !important;
      transition-duration: 0.28s;
      transition-property: box-shadow, opacity, background, height;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

    .v-table > .v-table__wrapper > table > tbody > tr > th, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > th {
      font-weight: 500;
      user-select: none;
      text-align: start;
      font-size: xx-small;
      border-bottom: 1px solid #cacaca !important;
  }

    .v-btn {
      margin: 0 auto; 
      min-width: auto; 
    }
  


    .search-input input {
      width: 83% !important;
     
  }
  .search-icon {
    position: absolute;
    top: 78%;
    left: -27px !important;
    transform: translateY(-13%) !important;
  }
  .v-data-table-header__content {
    display: flex;
    align-items: center;
    font-size: 10px !important;
    font-weight: 700 !important;
  }
  
    .v-table--density-default {
      --v-table-header-height: 3px !important;
      --v-table-row-height: 5px !important;
  }
  .v-btn--size-small {
    --v-btn-size: 0.6rem !important;
    --v-btn-height: 10px !important;
    font-size: var(--v-btn-size);
    min-width: 80px;
    padding: 0 0px;
  }
  .v-table > .v-table__wrapper > table > tbody > tr > td {
    padding: 0 0px !important;
    font-size: x-small !important;
  
  }
  .v-table {
    border-radius: inherit;
    line-height: 1 !important;
    max-width: 97%;
    font-size: 10px !important;
    display: flex;
    flex-direction: column;
  }

  .v-badge__badge {
    align-items: center;
    display: inline-flex;
    border-radius: 10px;
    font-size: 0.5rem !important;
  
  }
  }