<template>
    <v-icon :class="iconClass" :size="iconSize" :color="iconColor" @click="handleIconClick">
        {{ icon }}
    </v-icon>
</template>

<script lang="ts">
import { defineComponent } from 'vue';


export default defineComponent({
    props: {
        icon: {
            type: String,
            required: true,
        },
        iconSize: {
            type: String,
            default: 'small',
        },
        iconColor: {
            type: String,
            default: 'black',
        },
        iconClass: {
            type: String,
            default: '',
        },
        iconClick: {
            type: unknown,
            default: () => { },
        },
    },
    methods: {
        handleIconClick(...args: any[]) {
            // Llama a la función iconClick pasando los argumentos
            this.iconClick(...args);
        },
    },

});

</script>