<template>
  <v-app>
    <div class="app">

      <div class="navigation" v-if="!isSmallScreen">
        <Navigation />
      </div>


      <div class="container">
        <Headers />
        <router-view />
        <FooterDash />
      </div>
    </div>
  </v-app>
</template>

<script lang="ts">
import Dashboard from '../src/views/Dashboard.vue';
import Navigation from '../src/components/Navigation.vue';
import Headers from '../src/components/Header.vue';
import FooterDash from '../src/components/Footer.vue';
import navigationMobile from '../src/components/NavigationMobile.vue';

export default {
  components: {
    Dashboard,
    Navigation,
    Headers,
    FooterDash,
    navigationMobile
  },
  data() {
    return {
      isSmallScreen: false,
    };
  },
  mounted() {
    this.updateScreenSize();
    window.addEventListener('resize', this.updateScreenSize);
  },
  methods: {
    updateScreenSize() {
      this.isSmallScreen = window.innerWidth <= 850;
    },
  },
};
</script>

<style>
/* Estilos personalizados */
.app {
  display: flex;
  /* Utiliza flexbox para alinear horizontalmente los elementos */
  justify-content: space-between;
  /* Distribuye el espacio disponible entre los elementos */
  align-items: stretch;
  position: fixed;
  /* Asegura que los elementos se estiren para ocupar toda la altura disponible */
}

.navigation {
  width: calc(15% + 0px) !important;
  /* Define el ancho de la navegación */
  background: white;
}

.container {
  width: 100%;
  /* Utiliza todo el ancho disponible */
  padding: 5% 6% 0% 6%;
  background: #f3f3f3;
  /* Ajusta el relleno */
}




@media (max-width: 708px) {
  .app {
    flex-direction: column;
    /* Cambia la dirección de la disposición a vertical */
  }



  .container {
    width: 100%;
    /* Utiliza todo el ancho disponible */
    padding: 5% 6% 0% 6%;
    background: white;
    /* Ajusta el relleno */
  }
}
</style>
